.cPilotFrame{
	position: absolute;
    border: 0px solid #F00;
}
.cPilot{
    position: relative;
    border: 0px solid #00F;
    background-size: contain;
    background-repeat: no-repeat;
}
.cPilotHP{
    top: -10px;
    height: 2px;
    width: 50px;
    border: 0px solid #000;
	border-radius: 5px;
    background-color: #0F0;
    color: #000;
    user-select: none;
    visibility: 'visible';
    opacity: 0;
    position: absolute;
}
.cPilotHP.hideTranslate{
    transition: 10s;
    opacity: 0 !important;
}

.cPilotName{
    height: 20px;
    border: 0px solid #000;
    border-radius: 5px;
    color: #00F;
    font-size: 15px;
    font-weight: bolder;
    vertical-align: top;
    user-select: none;
    position: absolute;
/*    display: none;*/
}
.cPilotmsg{
    top: 0px;
    left: 0px;
    width: 250px;
    border: 2px solid #F00;
	border-radius: 8px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.5); 
    color: #F00;
    font-size: 15px;
    text-align: left;
    word-wrap: break-word;
    /*word-break: break-all;*/
    /*word-break: normal;*/
    user-select: none;
    display: none;
    position: absolute;
}

.cPilotMsgArrow{
    width: 0px;
    height: 0px;
    top: -20px;
    border-color: #F00 transparent transparent transparent; 
    border-style: solid; 
    border-width: 7px; 
    display: none;
    position: absolute;
}
