<!DOCTYPE html>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<link rel="stylesheet" type="text/css" href="./static/BtnCSS.css">
	<link rel="stylesheet" type="text/css" href="./static/PilotCSS.css">

	<script type="text/javascript" src="/static/common.js"></script>
	<script type="text/javascript" src="/static/Generate.js"></script>
	<script type="text/javascript" src="/static/ObjCtrl.js"></script>

	<title>上班不要玩 v1.0</title>
	<script language=javascript>
		// Public Variable
		var gameStart = new Boolean(false);
		var mouseDownState = new Boolean(false);
		var mouseClick = new Boolean(false);
		var keyUpState = new Boolean(false);
		var attackState = new Boolean(false);
		var WS;									// WebSocket
		var serverTime;
		var oldServerTime;
		var Create = new Generate();
		var Com = new Common();
		var allObj = [];
		var targetXY = [0, 0];
		var myID = '';
		var myPilot = '';
		var connectState = new Boolean(false);
		var gameFPS = 0;
		var FPScount = 0;
		var oldCenterInfo = '';
		var startGameState = 'checkWebSocket';
		var tmpUID = '';

		// System setting
		var milliSecondPerFrame = 50;
		var countTimes = 0;

        $(document).ready(function (){
			if(isMobileOrNot()){
				console.log('This is Mobile')
			}else{
				console.log('This is PC or else')
			}
			init();
        });

		function isMobileOrNot() {
			try{ document.createEvent("TouchEvent"); return true; }
			catch(e){ return false;}
		}

		function init(){
			gameStart = false;
			mouseClick = true;
			mouseDownState = false;
			keyUpState = true;
			attackState = false;
			connectState = false;
			Com.showMsgInMilliSecond = 1000;
			Com.recycleObjInMilliSecond = 5000;
			createWebSocket();
			startGame();
		}

		function startGame(){
			if(gameStart && startGameState=='finish'){
				gameStart = false;
				startGameStep = 'checkWebSocket';
				document.getElementById('iStartFlag').innerHTML = '開始';
				WS.close();
			}else{
				switch(startGameState){
					case 'checkWebSocket':
						if(checkWebSocket()){
							startGameState = 'setupEnvironment';
						}
						break;

					case 'setupEnvironment':
						gameStart = true;
						startWebConnection();
						setMap('0-0');
						getNewData();
						document.getElementById('iMainMap').style.display = 'flex';
						document.getElementById('iStartFlag').innerHTML = '結束';
						startGameState = 'setupUserPilot';
						break;

					case 'setupUserPilot':
						WS.send('pilotLoging@' + "{{userKey}}");
						startGameState = 'finish';
						break;
				}

				if( startGameState != 'finish' ){
					console.log(startGameState);
					setTimeout(function(){
						startGame();
					}, milliSecondPerFrame*2);
				}
			}
		}

		function createWebSocket(){
			WS = new WebSocket(Com.webSocketURL());
		}

		function checkWebSocket(){
			switch(WS.readyState){
				case 0:
					console.log('連線中...');
					return false;
					break;
				case 1:
					console.log('連線完成');
					return true;
					break;
			}
		}

		function setMap(region){
			WS.send('setMap@' + region);
		}

		function getNewData(){
			if(gameStart){
				if(Com.timeToUpdateMsg()){
					WS.send('getMsg');
					WS.send('updateMap');
				}
				WS.send('getNewData@' + myID);
				setTimeout(function(){
					getNewData();
				}, milliSecondPerFrame);
			}else{
				countTimes = 0;
			}
		}

		function startWebConnection(){
			WS.onmessage = function(e){
	        	var _returnData = e.data;
	        	_returnData = _returnData.split('@');
	        	var _CMD = _returnData[0];
	        	switch(_CMD){	        			
	        		case 'newPilot':
	        			var _pilotData = JSON.parse(_returnData[1]);
	        			myPilot = _pilotData;
	        			myID = _pilotData.id;
	        			Create.pilotObj = myPilot;
	        			break;

	        		case 'NewData':
	        			var _onLineNum = 0
	        			var _enemyNum = 0;
	        			var _itemNum = 0;
	        			var _pilotDataInJSON = _returnData[1];
	        			var _pilotData = JSON.parse(_pilotDataInJSON);
	        			serverTime = _pilotData.serverTime;
	        			// console.log(_pilotData.list);

						_pilotData.list.forEach(function(e) {
							if( e.type == 'pilot' ){
								_onLineNum += 1;
							}else if( e.type == 'enemy' ){
								_enemyNum += 1;
							}else if( e.type == 'item' ){
								_itemNum += 1;
							}
							_objCtrl = new ObjCtrl(e);
							_objCtrl.allObj = allObj;
							_objCtrl.syncPilotObj(e);
							_objCtrl.showPilot(e);
							_objCtrl.updateName(e);
		        			_objCtrl.updatePilotXY(e);
	        				_objCtrl.updatePilotHP(e);
	        				_objCtrl.updatePilotMsg(e);
	        				_objCtrl.updatePic(e);
	        				_objCtrl.deleteOfflinePilot(e);
	        				allObj = _objCtrl.allObj;
	        				if( e.id == myID ){
	        					myPilot = e;
	        				}

	        				if( e.id=='Scene00Button' ){
	        					if( myPilot != '' ){
		        					_distance = Com.distance(myPilot, e);
		        					if( _distance<(e.W*2) ){
		        						$('#iZkey').css({'left':(e.X-25), 'top':e.Y-60-(e.H/2)-20});
		        						$('#iZkey').show();
		        					}else{
		        						$('#iZkey').hide();
		        					}
	        					}
	        				}
						});

						allObj.forEach(function(_allObj){
							if( _allObj.type == 'pilot' || _allObj.type == 'enemy' || _allObj.type == 'item'){
								_exitOnServer = new Boolean(false);
								_exitOnServer = false;
								_pilotData.list.some(function(e){
									if( _allObj.id==e.id ){
				        				_exitOnServer = true;
				        				return true;
									}
								});
								if( !_exitOnServer ){
									_allObj.timeOut = 0;
									_objCtrl.deleteOfflinePilot(_allObj);
								}
							}
						});
	        			$('#iDebug')[0].innerHTML = '　FPS: ' + _pilotData.FPS;
	        			$('#iOnlineNum')[0].innerHTML = _onLineNum;
	        			$('#iEnemyNum')[0].innerHTML = _enemyNum;
	        			$('#iItemNum')[0].innerHTML = _itemNum;

	        			if( !Com.idExist('Scene00Button', allObj) ){
	        				$('#iZkey').hide();
	        			}
	        			break;

	        		case 'SysMsg':
		        		if( _returnData[1] != ''){
							var _msg = JSON.parse(_returnData[1]);
							var _msgHTMLStr = '';
							_msg.list.forEach(function(e) {
								_msgHTMLStr += e[0] + ' : ' + e[1] + '<br>';
							})
							$('#iSysMsg')[0].innerHTML = _msgHTMLStr;

							if( oldCenterInfo != _msg.centerInfo[1]){
								$('#iCenterInfo')[0].innerHTML = _msg.centerInfo[1];
								$('#iCenterInfo').css('left', ($('#iMainMap').width()/2)-($('#iCenterInfo').width()/2));
								$('#iCenterInfo').fadeTo('normal', 1);
								oldCenterInfo = _msg.centerInfo[1];
							}else{
								if( $('#iCenterInfo').css('opacity') == 1 ){
									setTimeout(function(){
										$('#iCenterInfo').fadeTo('slow', 0);
									}, 3000);
								}
							}
		        		}
	        			break;

	        		case 'mapCtrl':
	        			var _cmd = _returnData[1].split(',');
	        			if( _cmd[0] == 'shake' && tmpUID != _cmd[1]){
	        				tmpUID = _cmd[1];
	      					$('#iMainMap').effect('shake', { times:10, distance:_cmd[2] }, 1500);
	        			}
	      				break;

	        		case 'setMap':
		        		if( _returnData[1] != ''){
							var _map = JSON.parse(_returnData[1]);
							console.log(_map);
							var _mainMap = $('#iMainMap');
							_mainMap.width(_map.size[0]);
							_mainMap.height(_map.size[1]);
							_mainMap.css('background-color','#B97A57');
							var parent = document.getElementById('iMainMap');
							for(var i=0; i<200; i++){
								var mapPoint = document.createElement("div");
								mapPoint.setAttribute("class", "cMapPoint");
								mapPoint.setAttribute("id", 'mapPoint_' + i);
								_randomPlaceX = Math.floor(Math.random()*(_map.size[0]-25));
								_randomPlaceY = Math.floor(Math.random()*(_map.size[1]-25));
								_randomSize = Math.floor(Math.random()*10 + 5);
								mapPoint.style.left = _randomPlaceX + 'px';
								mapPoint.style.top = _randomPlaceY + 'px';
								mapPoint.style.width = _randomSize + 'px';
								mapPoint.style.height = _randomSize + 'px';
								mapPoint.style.borderRadius = (_randomSize/2) + 'px';
								parent.appendChild(mapPoint);
							}
							_map.ObjList.forEach(function(e) {
		        				if( !Com.idExist(e.id, allObj) ){
									Create.newObj('iMainMap', e);
			        				var _objFrame = $('#frame_'+e.id);
									_objFrame.css({'left':e.X-(e.W/2), 'top':e.Y-(e.H/2)});
			        				var _obj = $('#'+e.id);
			        				_obj.css('background-image','url(' + e.pic + ')');
			        				_obj.css('visibility','visible');
		        				}
							});
		        		}
	        			break;

	        		default:
	        			break;
	        	}
			}
			console.log('WebSocket START');
		}

		function sendMsg(id, msg){
			var _msg
			if(msg == undefined){
				_msg = document.getElementById("iSendMsgInput").value;
			}else{
				_msg = msg;
			}
			_msg = _msg.replace(/@/g,'');
			_msg = _msg.replace(/;/g,'');
			if( _msg != '' ){
				if(_msg.length>300){
					console.log('Too long:' + _msg.length);
					_msg = '話太長了我記不起來, 可以縮短到300字以內嗎?';
				}
				document.getElementById("iSendMsgInput").value = '';
				WS.send('sendMsg@' + myID + ';' + _msg);
			}
		}

		function setTargetXY(_mouseClick){
			if(gameStart && myID!=''){
				// console.log(myPilot);
				if( myPilot.HP > 0 ){
					if(mouseDownState || _mouseClick){
						targetXY = Com.getXYinMap('iMainMap');
						WS.send('move@' + myID + ';' + targetXY);
					}
				}
			}
		}

		function mouseDown(){
			mouseDownState = true;
		}
		function mouseUp(){
			mouseDownState = false;
		}
		function checkEnter(e, id) {
			if (e.keyCode == 13) {
				sendMsg(id);
			}
		}
		function keyDown(e){
			if( keyUpState && myID!='' ){
				keyUpState = false;
				var _z = 90;
				var _space = 32;
				if (e.keyCode == _z) {
					attackState = true;
					$('#HPboarder_'+myID).addClass('hideTranslate');
					WS.send('attack@' + myID);
				}
				setTimeout(function(){
					attackState = false;
				}, milliSecondPerFrame*3);
			}

		}
		function keyUp(e){
			var _z = 90;
			var _space = 32;
			if (e.keyCode == _z) {
				$('#HPboarder_'+myID).removeClass('hideTranslate');
				$('#HPboarder_'+myID).css('opacity', '1');
				keyUpState = true;
			}
		}
		function addEnemy(){
			WS.send('createEnemy');
		}
		function reBorn(){
			WS.send('reBorn@' + myID);
		}
		function addItem(){
			WS.send('createItem');
		}
	</script>
</head>
<body class="cBody" onkeydown="keyDown(event)" onkeyup="keyUp(event)">
<center>
	<img src='./static/pilot/slimeSun/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeSun/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeSun/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeSun/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeSun/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeSun/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/slimeDark/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeDark/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeDark/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeDark/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeDark/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeDark/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/slimeFire/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeFire/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeFire/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeFire/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeFire/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeFire/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/slimeGrass/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeGrass/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeGrass/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeGrass/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeGrass/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeGrass/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/slimeUnknow/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeUnknow/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeUnknow/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeUnknow/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeUnknow/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeUnknow/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/slimeWater/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeWater/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeWater/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeWater/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeWater/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/slimeWater/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/zombie/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/zombie/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/zombie/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/zombie/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/zombie/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/zombie/right.gif' class='cPreloaderImages'>　

	<img src='./static/pilot/robot/attack_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/robot/attack_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/robot/beHIT_left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/robot/beHIT_right.gif' class='cPreloaderImages'>
	<img src='./static/pilot/robot/left.gif' class='cPreloaderImages'>
	<img src='./static/pilot/robot/right.gif' class='cPreloaderImages'><br>
	<!-- <div class='cPreloaderImages'></div> -->
	<div id='iStartFlag' onclick="startGame()" style='border:1px solid #F00;width:80px;display:none;user-select: none;'>開始</div>
	<div onclick="Create.pilot('iMainMap',allObj)" style='border:1px solid #F00;width:80px;display:none;user-select: none;'>加入</div>
	<div onclick="addEnemy()" style='border:1px solid #F00;width:80px;display:none;user-select: none;'>敵人</div>
	<div onclick="reBorn()" style='border:1px solid #F00;width:80px;display:inline-block;user-select: none;'>復活</div>
	<div onclick="addItem()" style='border:1px solid #F00;width:80px;display:none;user-select: none;'>道具</div>
	<div style='border:0px solid #F00;display:inline-block;user-select: none;'>　線上玩家:<span id='iOnlineNum'>0</span></div>
	<div style='border:0px solid #F00;display:inline-block;user-select: none;'>　敵人:<span id='iEnemyNum'>0</span></div>
	<div style='border:0px solid #F00;display:inline-block;user-select: none;'>　道具:<span id='iItemNum'>0</span></div>
	<div id='iDebug' style='border:0px solid #F00;display:inline-block;'></span></div>
	<div id="iMainMap"
		 onclick="setTargetXY(mouseClick)" 
		 onmousedown="mouseDown()" 
		 onmouseup="mouseUp()" 
		 onmousemove="setTargetXY()" 
		 class="cMainMap">
		<div id="iCenterInfo" class='cCenterInfo'></div>
		<div id="iSysMsg" class='cSysInfo'></div>
		<div id="iZkey" class='cZkey'></div>
	</div>

	<table style="margin-top: 10px;"><tr>
			<td style="width:300px;"><input type="text" id='iSendMsgInput' class='cSendMsgInput' onkeypress="checkEnter(event, myID)"></td>
			<td><div class="cSendMsgBtn" onclick="sendMsg(myID)">送出</div></td>
	</tr></table>
	</div>
</center>
</body>
</html>
