<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<link rel="stylesheet" type="text/css" href="./static/BtnCSS.css">
	<link rel="stylesheet" type="text/css" href="./static/PilotCSS.css">

	<script type="text/javascript" src="/static/common.js"></script>
	<script type="text/javascript" src="/static/Generate.js"></script>

	<title>上班不要玩 v1.0</title>
	<script language=javascript>
		// Public Variable
		var gameStart = new Boolean(false);
		var mouseDownState = new Boolean(false);
		var mouseClick = new Boolean(false);
		var keyUpState = new Boolean(false);
		var attackState = new Boolean(false);
		var WS;									// WebSocket
		var serverTime;
		var oldServerTime;
		var Create = new Generate();
		var Com = new Common();
		var allObj = [];
		var targetXY = [0, 0];
		var myID = '';
		var myPilot;
		var connectState = new Boolean(false);
		var gameFPS = 0;
		var FPScount = 0;

		// System setting
		var milliSecondPerFrame = 50;
		var countTimes = 0;

        $(document).ready(function (){
			if(isMobileOrNot()){
				console.log('This is Mobile')
			}else{
				console.log('This is PC or else')
			}
			init();
        });

		function isMobileOrNot() {
			try{ document.createEvent("TouchEvent"); return true; }
			catch(e){ return false;}
		}

		function init(){
			gameStart = false;
			mouseClick = true;
			mouseDownState = false;
			keyUpState = true;
			attackState = false;
			connectState = false;
			Com.showMsgInMilliSecond = 1000;
			Com.recycleObjInMilliSecond = 5000;
			createWebSocket();
			startGame();
		}

		function startGame(){
			if(gameStart){
				gameStart = false;
				startGameStep = 'checkWebSocket';
				document.getElementById('iStartFlag').innerHTML = '開始';
				WS.close();
			}else{
				if( !checkWebSocket() ){
					setTimeout(function(){
						startGame();
					}, milliSecondPerFrame*2);
				}else{
					gameStart = true;
					startWebConnection();
					setMap('0-0');
					getNewData();
					document.getElementById('iMainMap').style.display = 'flex';
					document.getElementById('iStartFlag').innerHTML = '結束';
				}
			}
		}

		function createWebSocket(){
			WS = new WebSocket(Com.webSocketURL());
		}

		function checkWebSocket(){
			switch(WS.readyState){
				case 0:
					console.log('連線中...');
					return false;
					break;
				case 1:
					console.log('連線完成');
					return true;
					break;
			}
		}

		function setMap(region){
			WS.send('setMap@' + region);
		}

		function getNewData(){
			if(gameStart){
				if(Com.timeToUpdateMsg()){
					WS.send('getMsg');
				}
				WS.send('getNewData@' + myID);
				setTimeout(function(){
					getNewData();
				}, milliSecondPerFrame);
			}else{
				countTimes = 0;
			}
		}

		function startWebConnection(){
			WS.onmessage = function(e){
	        	var _returnData = e.data;
	        	_returnData = _returnData.split('@');
	        	var _CMD = _returnData[0];
	        	switch(_CMD){
	        		case 'ID':
	        			Create.ID = _returnData[1];
	        			myID = Create.ID;
	        			break;
	        			
	        		case 'newPilot':
	        			var _pilotData = JSON.parse(_returnData[1]);
	        			myPilot = _pilotData;
	        			Create.pilotObj = myPilot;
	        			break;

	        		case 'NewData':
	        			var _onLineNum = 0
	        			var _pilotDataInJSON = _returnData[1];
	        			var _pilotData = JSON.parse(_pilotDataInJSON);
	        			serverTime = _pilotData.serverTime;

						_pilotData.list.forEach(function(e) {
							_onLineNum += 1;
							syncPilotObj(e);
							showPilot(e);
		        			updatePilotXY(e);
	        				updatePilotHP(e);
	        				updatePilotMsg(e);
	        				updatePic(e);
	        				deleteOfflinePilot(e);
						});
						allObj.forEach(function(_allObj){
							if( _allObj.type == 'pilot' ){
								_exitOnServer = new Boolean(false);
								_exitOnServer = false;
								_pilotData.list.some(function(e){
									if( _allObj.id==e.id ){
				        				_exitOnServer = true;
				        				return true;
									}
								});
								if( !_exitOnServer ){
									_allObj.connectTimeOut = 0;
									deleteOfflinePilot(_allObj);
								}
							}
						});
	        			$('#iDebug')[0].innerHTML = '　FPS: ' + Com.countFPS();
	        			$('#iOnlineNum')[0].innerHTML = _onLineNum;
	        			break;

	        		case 'SysMsg':
		        		if( _returnData[1] != ''){
							var _msg = JSON.parse(_returnData[1]);
							var _msgHTMLStr = '';
							_msg.list.forEach(function(e) {
								_msgHTMLStr += e[0] + ' : ' + e[1] + '<br>';
							})
							$('#iSysMsg')[0].innerHTML = _msgHTMLStr;
		        		}
	        			break;

	        		case 'setMap':
		        		if( _returnData[1] != ''){
							var _map = JSON.parse(_returnData[1]);
							console.log(_map);
							var _mainMap = $('#iMainMap');
							_mainMap.width(_map.size[0]);
							_mainMap.height(_map.size[1]);
							_mainMap.css('background-image','url(' + _map.background + ')');
							_map.ObjList.forEach(function(e) {
		        				if( !idExist(e.id, allObj) ){
									Create.newObj( 'iMainMap', e);
			        				var _objFrame = $('#frame_'+e.id);
									_objFrame.css({'left':e.X-(e.width/2), 'top':e.Y-(e.height/2)});
			        				var _obj = $('#'+e.id);
			        				_obj.css('background-image','url(' + e.pic + ')');
			        				_obj.css('visibility','visible');
		        				}
							});
		        		}
	        			break;

	        		default:
	        			break;
	        	}
			}
			console.log('WebSocket START');
		}

		function syncPilotObj(e){
			if( !idExist(e.id, allObj) ){
				console.log('Create new pilot in map: ' + e.id);
				Create.newObj( 'iMainMap', e);
			}
		}
		function showPilot(e){
			var _pilotFrame = $('#frame_' + e.id);
			_pilotFrame.css('visibility','visible');
			$('#name_' + e.id).css('visibility','visible');
			if( e.id==myID ){
				_pilotFrame.css('zIndex',999);
			}
		}
		function updatePilotXY(e){
			var _pilotFrame = $('#frame_' + e.id);
			var _pilotFrameBound = _pilotFrame[0].getBoundingClientRect();
			var _pilotBound = $('#' + e.id)[0].getBoundingClientRect();
			_pilotFrame.css({'left': e.X-(_pilotFrameBound.width/2)});
			_pilotFrame.css({'top' : _pilotFrameBound.top - (_pilotBound.top-e.Y) - (_pilotBound.height/2)});
		}
		function updatePilotHP(e){
			var _HPlengthInPx = 100;
			var _HPmax = 10;
			var _damage = Math.round(_HPlengthInPx/_HPmax);
			var _pilotHP = $('#HP_' + e.id);
			_pilotHP.css('display','inline-block');
			_pilotHP.width((e.HP*_damage));
			_pilotHP.css('visibility','visible');
			if( e.HIT ){
				shake(e, 10);
			}
		}
		function updatePilotMsg(e){
			var _msg = $('#msg_'+e.id);
			var _msgArrow = $('#msgArrow_'+e.id);
			if(e.msg!=''){
				var _srtLength = StrLen(e.msg);
				var _oneENcharLenInPX = 12;
				var _oneTWcharLenInPX = 7.6;
				var _strLenInPX = (_srtLength[0]*(_oneTWcharLenInPX*2)) + (_srtLength[1]*_oneENcharLenInPX);
				var _textAlign = '';
				if( _strLenInPX<250 ){
					_textAlign = 'center';
				}else{
					_strLenInPX = 250;
					_textAlign = 'left';
				}
				_msg.width(_strLenInPX);
				_msg.css('textAlign', _textAlign);
				_msg[0].innerHTML = e.msg;
				_msg.css('display','inline-block');
				var _pilotFrameBound = $('#frame_' + e.id)[0].getBoundingClientRect();
				var _msgBound = _msg[0].getBoundingClientRect();
				_msg.css({'top':(0-_msgBound.height-20)});
				_msg.css('left', (0-((_msgBound.width-_pilotFrameBound.width)/2)));
				_msgArrow.css('display','block');
			}else{
				_msgArrow.css('display','none');
				_msg.css('display','none');
				_msg[0].innerHTML = '';
			}
		}
		function updatePic(e){
			var _actionStr = '';
			var _pilotObj = document.getElementById(e.id);
			if( e.id==myID){
				if( attackState ){
					_actionStr = 'attack_';
					_pilotObj.style.width = (e.width*1.5) + 'px';
					if( e.direction=='left' ){
						_pilotObj.style.left = '-' + (e.width/2) + 'px';
					}
				}else{
					_pilotObj.style.left = '0px';
					_pilotObj.style.width = e.width + 'px';
				}
			}else{
				if( e.attack!=0){
					_actionStr = 'attack_';
					_pilotObj.style.width = (e.width*1.5) + 'px';
					if( e.direction=='left' ){
						_pilotObj.style.left = '-' + (e.width/2) + 'px';
					}
				}else{
					_pilotObj.style.left = '0px';
					_pilotObj.style.width = e.width + 'px';
				}
			}
			if( e.HIT ){
				_actionStr = 'beHIT_';
			}
			_pilotObj.style.backgroundImage = "url('./static/pilot/" + e.pic + "/" + _actionStr + e.direction + ".gif')";
			_pilotObj.style.visibility = 'visible';
		}
		function deleteOfflinePilot(e){
			if( e.connectTimeOut==0 ){
				var _pilotFrameObj = document.getElementById('frame_' + e.id);
				var _parentObj = document.getElementById('iMainMap');
				_parentObj.removeChild(_pilotFrameObj);
				console.log('Delete: ' + e.id);
				for(var i=0; i<allObj.length; i++){
					if( allObj[i].id == e.id ){
						allObj.splice(i,1);
					}
				}
				return true;
			}
			return false;
		}

		function sendMsg(id, msg){
			var _msg
			if(msg == undefined){
				_msg = document.getElementById("iSendMsgInput").value;
			}else{
				_msg = msg
			}
			_msg = _msg.replace(/@/g,'');
			_msg = _msg.replace(/;/g,'');
			if( _msg != '' ){
				if(_msg.length>300){
					console.log('Too long:' + _msg.length);
					_msg = '話太長了我記不起來, 可以縮短到300字以內嗎?';
				}
				document.getElementById("iSendMsgInput").value = '';
				WS.send('sendMsg@' + myID + ';' + _msg);
			}
		}

		function StrLen(sString){
			var _enStr = 0;
			var _twStr = 0;
			var s = sString;
			for (var i=0; i<s.length; i++){
				if (s.substr(i,1).charCodeAt(0)>255){
					_twStr += 1;
				}else{
					_enStr += 1;
				}
			}
			return ([_twStr, _enStr]);
		}

		function setTargetXY(_mouseClick){
			if(gameStart){
				if(mouseDownState || _mouseClick){
					targetXY = Com.getXYinMap('iMainMap');
					WS.send('move@' + myID + ';' + targetXY);
				}
			}
		}

		function shake(obj, shakeLevel){
			var _obj = document.getElementById('frame_' + obj.id);
			var _X = _obj.style.left;
			_X = parseInt(_X.replace('px'));
			_X += shakeLevel;
			_obj.style.left = _X + 'px';
			setTimeout(function(){
				_X -= shakeLevel;
				_obj.style.left = _X + 'px';
			},30);
		}

		function mouseDown(){
			mouseDownState = true;
		}
		function mouseUp(){
			mouseDownState = false;
		}
		function checkEnter(e, id) {
			if (e.keyCode == 13) {
				sendMsg(id);
			}
		}
		function keyDown(e){
			if( keyUpState ){
				keyUpState = false;
				var _z = 90;
				var _space = 32;
				var _pilotObj = document.getElementById(myPilot.id);
				if (e.keyCode == _z) {
					attackState = true;
					WS.send('attack@' + myID);
				}
				setTimeout(function(){
					attackState = false;
				}, milliSecondPerFrame*3);
			}

		}
		function keyUp(e){
			var _z = 90;
			var _space = 32;
			if (e.keyCode == _z) {
				keyUpState = true;
			}
		}

	</script>
</head>
<body class="cBody" onkeydown="keyDown(event)" onkeyup="keyUp(event)">
<center>
	<div id='iStartFlag' onclick="startGame()" style='border:1px solid #F00;width:80px;display:inline-block;'>開始</div>
	<div onclick="Create.pilot('iMainMap',allObj)" style='border:1px solid #F00;width:80px;display:inline-block;'>加入</div>
	<div style='border:0px solid #F00;display:inline-block;'>　線上人數:<span id='iOnlineNum'>0</span></div>
	<div id='iDebug' style='border:0px solid #F00;display:inline-block;'></span></div>
	
	<div id="iMainMap"
		 onclick="setTargetXY(mouseClick)" 
		 onmousedown="mouseDown()" 
		 onmouseup="mouseUp()" 
		 onmousemove="setTargetXY()" 
		 class="cMainMap">
		<div id="iSysMsg" class='cSysInfo'></div>
	</div>

	<table style="margin-top: 10px;"><tr>
			<td style="width:300px;"><input type="text" id='iSendMsgInput' class='cSendMsgInput' onkeypress="checkEnter(event, myID)"></td>
			<td><div class="cSendMsgBtn" onclick="sendMsg(myID)">送出</div></td>
	</tr></table>
	</div>
</center>
</body>
</html>
