<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<title>上班不要玩 v1.0</title>
    <style>
        table, tr, td{
            border: solid 0px #000;
        }
    </style>
	<script language=javascript>
	</script>
</head>
<body class="cBody">
<center>
	<div id='iLogin' class="cLoginFrame"><center>
		<form action="/index" method="post">
			<table style="width:70%">
				<tr style="height:80px">
					<td style="width:80px">> 帳號：</td><td><input type="text" id='iID' name="userName" class='cLoginInput'></td>
				</tr>
				<tr style="height:80px">
					<td>> 密碼：</td><td><input type="password" id='iPassword' name="password" class='cLoginInput'></td>
				</tr>
			</table>
			<table>
				<tr style="height:80px">
					<td style="width:100px"><center><input type="submit" value="登　入" class="cSubmit"></center></td>
					<td style="width:100px; color:#00F;" ><center>註冊</center></td>
				</tr>
			</table>			
		</form>
	</center></div>
</center>
</body>
</html>
