<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<title>上班不要玩 v1.0</title>
    <style>
        table, tr, td{
            border: solid 0px #000;
        }

		hr.style-two {
		    border: 0;
		    height: 1px;
		    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.75), rgba(255,0,0,0));
		}

    </style>
	<script language=javascript>
        $(document).ready(function (){
        	var msg = "{{msg}}";
        	if( msg=='' ){
        		$('#iMsg').css('display', 'none');
        	}else{
        		if( msg=='loginFail' ){
        			msg = '[ 帳號 或 密碼 錯誤 ]'
        		}
        		$('#iMsg').css('display', 'inline');
        		$('#iMsg')[0].innerHTML = msg;
        	}
        });
	</script>
</head>
<body class="cBody">
<center>
	<div id='iLogin' class="cLoginFrame"><center>
		登入資訊
		<hr class="style-two" />
		<div id='iMsg' style="border:0px solid #000;"></div>
		<form action="/index" method="post">
			<table style="width:70%">
				<tr style="height:80px">
					<td style="width:80px">> 帳號：</td><td><input type="text" id='iID' name="userName" class='cLoginInput'></td>
				</tr>
				<tr style="height:80px">
					<td>> 密碼：</td><td><input type="password" id='iPassword' name="password" class='cLoginInput'></td>
				</tr>
			</table>
			<table>
				<tr style="height:80px">
					<td style="width:100px"><center><input type="submit" value="登　入" class="cSubmit"></center></td>
					<td style="width:100px; color:#00F;" ><center><a href="signup">註冊</a></center></td>
				</tr>
			</table>			
		</form>
	</center></div>
</center>
</body>
</html>
