<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<html lang="zh-Hant">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/mainCSS.css">
	<title>上班不要玩 v1.0</title>
    <style>
        table, tr, td{
            border: solid 0px #000;
        }

		hr.style-two {
		    border: 0;
		    height: 1px;
		    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.75), rgba(255,0,0,0));
		}

    </style>
	<script language=javascript>
        $(document).ready(function (){
        	var msg = "{{msg}}";
        	if( msg=='' ){
        		$('#iMsg').css('display', 'none');
        	}else{
        		if( msg=='IDexist' ){
        			msg = '[ 帳號已存在, 請更換 ]'
        		}
        		$('#iMsg').css('display', 'inline');
        		$('#iMsg')[0].innerHTML = msg;
        	}
        });

		function pickPilot(pilot){
			console.log(pilot);
			var pilotCSS = document.getElementsByName('pilot');
			for( var i=0; i<pilotCSS.length; i++ ){
				pilotCSS[i].classList.remove('cCheckPilot');
			}
			var pilotCSS = document.getElementById(pilot);
			document.getElementById('iPilot').value = pilot;
			pilotCSS.classList.add('cCheckPilot');
		}
	</script>
</head>
<body class="cBody">
<center>
	<div id='iLogin' class="cLoginFrame"><center>
		註　冊
		<hr class="style-two" />
		<div id='iMsg' style="border:0px solid #000;"></div>
		<form action="/signup" method="post">
			<table style="width:80%">
				<tr style="height:80px">
					<td style="width:120px">> 帳號：</td><td><input type="text" id='iID' name="userID" class='cLoginInput'></td>
				</tr>
				<tr style="height:80px">
					<td>> 密碼：</td><td><input type="password" id='iPassword' name="password" class='cLoginInput'></td>
				</tr>
				<tr style="height:80px">
					<td>> 暱稱：</td><td><input type="text" id='iName' name="name" class='cLoginInput'></td>
				</tr>
				<tr style="height:80px">
					<td>> 選擇腳色：</td>
					<td><input type="text" id='iPilot' name="checkPilot" class='cLoginInput' style='visibility:hidden;'></td>
				</tr>
			</table>

			{% for pilot in allPilot %}
			<div class="cPickPilot" name="pilot" id="{{pilot}}"
				 style="background-image: url('./static/pilot/{{pilot}}/right.gif');" onclick="pickPilot('{{pilot}}')"></div>　
			{% end %}
			<table>
				<tr style="height:80px">
					<td style="width:100px"><center><input type="submit" value="註　冊" class="cSubmit"></center></td>
				</tr>
			</table>			
		</form>
	</center></div>
</center>
</body>
</html>
